<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>913105000699-t0e64uu7pcv6pae1pij3fjpkfe11smob.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.913105000699-t0e64uu7pcv6pae1pij3fjpkfe11smob</string>
	<key>API_KEY</key>
	<string>AIzaSyCx9CXWUGKD2DIEpSAw_lcTUa9JeCC_Rfg</string>
	<key>GCM_SENDER_ID</key>
	<string>913105000699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.Rue.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-d6915</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-d6915.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:913105000699:ios:13a8d28efcf51570b7385e</string>
	<key>DATABASE_URL</key>
	<string>https://messenger-d6915.firebaseio.com</string>
</dict>
</plist>